
/* nav link */
.Headings{
    display: flex;
    justify-content:none;
    align-items: normal;
    gap: 10px;
}

.Headings ul{
    display: flex;
    justify-content: stretch;
    align-items: normal;
    gap: 25px;
}

.Headings3{
   padding-left: 700px;
}

.HeadLogo2{
    display: flex;
    justify-content: right;
    align-items: normal;
    gap: 10px;
}

.Headings3 ul a{
    display: flex;
    justify-content: stretch;
    align-items: right;
    gap: 5px;
    cursor: pointer; font-size: 15px;
    border: none;
    color: rgb(24, 23, 23);
    text-decoration: none;
}

.Logoimg{
    height: 30px;
    width: 25px;
    gap: 10px;
}

.HeadLogo{
    height: 35px;
    width: 35px;
    gap: 10px;
    border-radius: 50px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: none;
    align-items: normal;
    gap: 20px;
    cursor: pointer; font-size: 15px;
}

.butto{
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.nav-link{
    text-decoration: none;
    color: rgb(24, 23, 23);
}

/* Start */
.Start{
    align-items: center;
    padding-left: 390px;
    padding-right: 390px;
}

.Start-hi{
    text-align: center;
    align-items: center;
    padding-right: 75px;
    padding-left: 75px;
}

.Start-li ul{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 130px;
    gap: 20px;
    padding-top: 5px;
}

.Start-li2{
    background-color: rgb(13, 9, 255);
    color: white;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    padding-top: 10px;
}

.Start-Get{
    text-align: center;
    align-items: center;
}

.LiView{
    color: blue;
}


/* Overview */
.Overview{
   background: linear-gradient(white, rgb(248, 12, 12),  rgb(150, 0, 155))
}

.Overview-Photo{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 20px;
}

.Overview-Img{
    justify-content: center;
    height: 500px;
    width: 950px;
}

.Overview2 ul{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 5px;
    padding: 30px;
    color: white;
}

.Companies{
    height: 35px;
    width: 100px;
    gap: 20pxpx;
}


/* Hero Section */
.Hero1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.Hero-Photo{
    height: 500px;
    width: 600px;
    padding-left: 100px;
    padding-top: 90px;
}

.Hero-Img{
    background-color: rgb(154, 197, 236);
    border-radius: 2px;
    width: 1200px;
    height: 580px;
}

.Hero2 ul {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 165px;
}

.Simple{
    color: rgba(31, 28, 28, 0.863);
}

.Hero3{
    color: rgb(14, 144, 231);
}


/* Customer Support */
.Customer-Photo{
    background-color: rgb(188, 252, 186);
    border-radius: 2px;
    width: 1100px;
    height: 580px;
}

.Customer-Img{
    height: 500px;
    width: 400px;
    padding-left: 130px;
    
}

.Customer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.Customer2 ul{
    display: block;
    justify-content: space-evenly;
    align-items: center;
    gap: 90px;
    padding-right: 120px;
}

.Customer3{
    color: rgba(44, 42, 42, 0.959);
}

.Customer4{
    color: rgba(6, 245, 18, 0.986);
}


/* Monitor Section */
.Monitor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.Monitor1 ul{
    display: block;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.Monitor2{
    color: rgb(212, 24, 87);
}

.Monitor3{
    display: flex;
}

.Monitor3 ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: left;
    gap: 15px;
    padding-right: 190px; 
}

.Monitor-Inline ul{
    display: inline;
}

.Monitor4{
    padding-right: 200px;
}

.Monitor5{
    padding-right: 200px;
    color: rgba(29, 27, 27, 0.74);
}

.Monitor6{
    color: rgba(29, 27, 27, 0.74);
}

.Monitor-Photo{
    background-color: rgb(248, 159, 221);
    width: 1100px;
    height: 580px;
}

.Monitor-Img{
    height: 470px;
    width: 500px;
    padding-left: 100px;
    padding-top: 110px;
    padding-right: 100px;
    padding-bottom: 0px;
}


/* FAQ Section */
.FAQ{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.FAQ ol{
    padding-bottom: 425px;
}

.FAQ2{
    display: block;
    justify-content: space-evenly;
    align-items: right;
    gap: 30px;
}

.FAQ2 ul{
    display: block;
    justify-content: space-evenly;
    align-items: right;
    gap: 30px
}

.FAQ-1{
    background-color: rgb(204, 228, 250);
    width: 850px;
    height: 140px;
    border-radius: 4px; 
    padding-top: 8px;
}

.FAQ-2{
    background-color: rgb(204, 228, 250);
    border-radius: 4px; 
    height: 70px;
    padding-top: 5px;
    margin-top: 8px;
}

.FAQ-3{
    background-color: rgb(204, 228, 250);
    border-radius: 4px;
    height: 70px; 
    padding-top: 5px;
    margin-top: 8px;
}

.FAQ-4{
    background-color: rgb(204, 228, 250);
    border-radius: 4px; 
    height: 70px;
    padding-top: 5px;
    margin-top: 8px;
}

.FAQ-5{
    background-color: rgb(204, 228, 250);
    border-radius: 4px; 
    height: 70px;
    padding-top: 5px;
    margin-top: 8px;
}

.FAQ-6{
    background-color: rgb(204, 228, 250);
    border-radius: 4px; 
    height: 70px;
    padding-top: 5px;
    margin-top: 8px;
}

.FAQ-7{
    background-color: rgb(204, 228, 250);
    border-radius: 4px; 
    height: 70px;
    margin-top: 8px;
    padding-top: 5px;
}

.FAQ-Color{
     color: rgb(231, 58, 116);
}

.FAQ-Color1{
    color: rgba(59, 59, 59, 0.932);
}


/* Flexible Section */
.Flex{
    text-align: center;
    padding-bottom: 35px;
}

.Flex-Black{
    color: rgba(41, 37, 37, 0.788);
}

.Flex-White{
    color: white;
}

.Flexible{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 15px;
}

.Flexible-Block1{
    background-color: rgb(204, 228, 250);
    width: 620px;
    height: 400px;
}

.Flexible-Block2{
    background-color: blue;
     width: 620px;
    height: 400px;
}

.Flexible-Block3{
    background-color: rgb(204, 228, 250);
     width: 620px;
    height: 400px;
}

.Flexible-Block1 ul{
    display: block;
    justify-content: space-evenly;
    align-items: right;
    gap: 30px;
}

.Flexible-Block2 ul{
    display: block;
    justify-content: space-evenly;
    align-items: right;
    gap: 30px;
}

.Flexible-Block3 ul{
    display: block;
    justify-content: space-evenly;
    align-items: right;
    gap: 30px;
}

.Flexible-Blue1{
    color: rgb(61, 27, 184);
}

.Flexible-Blue{
    text-align: center;
    color: rgb(61, 27, 184);
    background-color: white;
    border-radius: 4px;
    width: 380px;
    height: 30px;
    padding-top: 11px;
    margin-top: 83px;
}


/* Pro */
.Pro{
    color: rgba(250, 244, 244, 0.952);
    background: linear-gradient(rgb(186, 30, 218), rgb(226, 45, 0));
    height: 300px;
    border-radius: 6px;
    text-align: center;
    margin-top: 80px;
    padding-top: 80px;
    margin-left: 15px;
}

.Pro1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
}

.Pro2{
    background-color: white;
    color: rgb(245, 79, 143);
    border-radius: 4px;
    width: 100px;
    height: 50px;
}

.Pro3{
    padding-bottom: 10px;
    padding-right: 500px;
    padding-left: 500px;
    text-align: center;
    align-items: center;
}


/* Footer */
.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.FooterLogo{
    margin-top: 30px;
    height: 30px;
    width: 25px;
}

.Footer-h3{
    padding-top: 16px;
}

.Footer-YourSite{
    padding-right: 540px;
    margin-bottom: 280px;
}

.Footer1 ul{
    display: block;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Footer2 ul{
    display: block;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 60px;
}


/* Copyright Section */
.Copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 850px;
}

.Copy-Icons ul{
    padding-right: 0px;
    gap: 30px;
}

.Copy-Icon{
    height: 30px;
    width: 25px;
}

.Copyright-2025{
    color: rgb(7, 85, 153);
}



/* PHONES */
@media (max-width: 599px) {
    .Headings2 {
        display: none;
    }

    .butto ul{
        display: none;
    }

     .Start {
        display: block;
        justify-content: center;
        align-items: center;
        padding-right: 56px;
        padding-left: 56px;
    }

    .Start-hi{
        text-align: center;
        align-items: center;
        padding-right: 56px;
        padding-left: 56px;
    }

    .Start-li ul{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Overview2 ul{
        padding-left: 180px;
        padding-right: 180px;
    }

    .Simple{
        display: inline;
    }

    .Customer2{
        display: inline;
    }

    .Monitor1 ul{
        display: block;
        text-align: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .Monitor{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .Monitor ul{
        display: block;
        text-align: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }
 
    .FAQ{
        display: block;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .Flexible{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

     .Footer1 ul{
        display: none;
    }

    .Footer2 ul{
        display: none;
    }

    .Copyright{
        display: none;
    }

    .Copyright ul{
        display: none;
    }

    }


/* LARGE PHONES AND TABLETS*/
@media (min-width: 600px) and (max-width: 767px) {
    .Headings2 {
        display: none;
    }

    .butto ul{
        display: none;
    }

     .Start {
        display: block;
        justify-content: center;
        align-items: center;
        padding-right: 56px;
        padding-left: 56px;
    }

    .Start-hi{
        text-align: center;
        align-items: center;
        padding-right: 56px;
        padding-left: 56px;
    }

    .Start-li ul{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Overview2 ul{
        padding-left: 180px;
        padding-right: 180px;
    }

    .Simple{
        display: inline;
    }

    .Customer2{
        display: inline;
    }

    .Monitor1 ul{
        display: block;
        text-align: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .Monitor ul{
        display: block;
        text-align: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .Monitor{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .FAQ{
        display: block;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .Flexible{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

     .Footer1 ul{
        display: none;
    }

    .Footer2 ul{
        display: none;
    }

    .Copyright{
        display: none;
    }

    .Copyright ul{
        display: none;
    }

    }



/* MEDIUM TABLETS */
@media (min-width: 768px) and (max-width: 991px) {
    .Headings2 {
        display: none;
    }

    .butto ul{
        display: none;
    }

    .Start {
        display: block;
        justify-content: center;
        align-items: center;
        padding-right: 56px;
        padding-left: 56px;
    }

    .Start-hi{
    text-align: center;
    align-items: center;
    padding-right: 56px;
    padding-left: 56px;
    }

    .Start-li ul{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Overview2 ul{
        padding-left: 180px;
        padding-right: 180px;
    }

    .Simple{
        display: inline;
    }

    .Customer2{
        display: inline;
    }

    .Monitor1 ul{
        display: block;
        text-align: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .Monitor ul{
        display: block;
        text-align: center;
        align-items: center;
    }

    .Monitor{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .FAQ{
        display: block;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .Flexible{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .Footer1 ul{
        display: none;
    }

    .Footer2 ul{
        display: none;
    }

    .Copyright{
        display: none;
    }

    .Copyright ul{
        display: none;
    }
}


/* LAPTOPS */
@media (min-width: 1200px) and (max-width: 1199px) {
    
}

/* DESKTOPS */
@media (min-width: 1200px) {

}